body {
  background-image: url(Sound-Wave-Wallpaper-by-vladstudio.jpg);
  background-position: center;
  background-size: cover;
  color: white;
}

footer p {
  margin: 0;
}

a {
  color: gray;
}

.app-name {
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  font-size: max(10vw, 6em);
  color: #80808040;
  z-index: -10;
  pointer-events: none;
}

.song-container {
  display: table;
  width: 100%;
  height: calc(60% - 100px);
}

#song-name {
  display: table-cell;
  text-align: center;
  font-size: clamp(4em, 8vw, 8em);
  vertical-align: middle;
}

#song-name.near .count_down {
  color: red;
}

.buttons {
  width: 100%;
  display: table;
  height: max(calc(40% - 10px - 18pt), 120px);
}

.primary-button {
  width: 50%;
  /*height: 50%;*/
  padding: 20px;
  margin: 2px;
  cursor: pointer;
  font-size: clamp(2em, 6vw, 8em);
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  background-color: #ee82ee4d;
}

.primary-button:hover {
  background-color: #ee82ee9c;
}

#audio {
  width: 100%;
  height: 90px;
  padding-bottom: 10px;
}

footer {
  font-size: 9pt;
  text-align: center;
  color: #d3d3d340;
}
